body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;

}
.grid{
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    border: 5px solid grey;
    font-weight: bold;
}

.grid div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}


.checked{
    background-color: lightgray;
    box-shadow: none !important;
}

.flags{
    color: red;
}

.gameOver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

[data-c = '1']{
    color:green;
}

[data-c = '2']{
    color:blue;
}

[data-c = '3']{
    color:purple;
}

[data-c = '4'], [data-c = '5'], [data-c = '6'], [data-c = '7'], [data-c = '8']{
    color:red;
}
